.products-filter-bar {
    background-color: darkmagenta;
    color: white;
    padding: 7px;
    display: flex;
    justify-content: space-between;

    &__title {
        font-size: 24px;
        display: inline-block;
    }
    &__filter {
        min-width: 200px;
        height: 24px;
    }
}
