.badge {
    padding: 10px 20px;
    display: inline-block;
    font-size: 12px;

    &__sale {
        background-color: red;
        color: white;
    }
    &__exclusive {
        background-color: green;
        color: white;
    }
}
